body {
  
  background-size: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(
  140deg,
  hsl(55deg 96% 91%) 0%,
  hsl(51deg 97% 90%) 5%,
  hsl(47deg 97% 89%) 9%,
  hsl(42deg 98% 88%) 14%,
  hsl(38deg 99% 87%) 19%,
  hsl(34deg 99% 86%) 23%,
  hsl(30deg 99% 85%) 28%,
  hsl(26deg 100% 84%) 34%,
  hsl(22deg 99% 83%) 39%,
  hsl(18deg 97% 82%) 45%,
  hsl(14deg 95% 81%) 51%,
  hsl(9deg 93% 80%) 57%,
  hsl(5deg 91% 79%) 64%,
  hsl(1deg 90% 78%) 72%,
  hsl(356deg 88% 77%) 82%,
  hsl(352deg 87% 76%) 100%
);

}

h3,
h4,
h5 {
  color: #5a6275;
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
  margin: 0;
}

h3 {
  font-size: 20px;
}

h3::first-letter {
  text-transform: capitalize;
}

h4 {
  font-size: 16px;
  font-weight: 300;
}

h5 {
  font-size: 14px;
  font-weight: 300;
}

h6 {
  font-size: 8px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.container-main {
  max-width: 720px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 50px 50px 50px;
  margin: 70px auto;
  border-radius: 5px;
}

.container-header {
  padding-bottom: 0px;
}
.buttonLocation {
  border-radius: 30px;
  padding: 0.375rem 10px;

  border: 0;
}

.col-1 {
  display: grid;

  width: 25px;
}
.locationIcon {
  display: inline-grid;
  opacity: 50%;
  width: 30px;
  height: 30px;
  transition: transform 450ms;
}

.locationIcon:hover {
  transition: transform 125ms;
  opacity: 80%;
  transform: scale(115%);
  cursor: crosshair;
}

.form-control {
  border-radius: 30px;
  padding: 0.375rem 20.75px;
  background-color: #fbfbfc;
  border: 0;
}

.text-align-left {
  padding: 0;
}

.icon {
  position: relative;
  top: 10px;
  right: 8px;
  padding: 0;
  height: 80px;
}

.weather-icon {
  width: 130px;
}

.container-inside {
  background-color: #fbfbfc;
  max-width: 620px;
  padding: 35px 0 35px 0;
  border-radius: 5px;
}
.align-padding {
  display: grid;
  justify-content: space-around;
}

.current-temperature {
  text-align: center;
  padding-left: 30px;
}
.current-temperature .temperature {
  font-size: 64px;
  font-weight: 500;
}
.current-temperature .units {
  position: relative;
  top: -30px;
}

.gx-4 {
  margin-top: 40px;
 margin-bottom: 40px;
}

.days-box {
  background-color: #fbfbfc;
  border-radius: 35px;
  text-align: center;
  width: fit-content;
  padding: 15px 0px;
}

.weather-forecast-temperatures{
  color: #5a6275;
  margin: 0;
  font-size: 13px;
  font-weight: 350;
  padding-left: 5px;
}

.weather-forecast-temperature-max{
  color: black;
}

.icon-forecast{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60px;
}

.current-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
  font-kerning: auto;
}

.current-temperature .active:hover {
  text-decoration: none;
  cursor: default;
  transform: scale(115%);
}
.non-active {
  color: blue;
  text-decoration: none;
  cursor: default;
  font-kerning: auto;
}
